html { height:100%;
background-color:#F2F1F1;
font-family: Verdana,Arial,sans-serif;
}

a:link {
text-decoration: none;
color: black;
}

body { height:100%;
padding-bottom:250px;
background-color:#F2F1F1;
}

.footer-wrapper {

border-top: 1px solid grey;
height:250px;
bottom:0px;
position:absolute;
background-color:#FFFFFF;
width:100%;

}

.footer-social {
display:inline-block;
  float: right;
  padding: 10px;
}

.footer-social li{
display:inline-block;
margin-left:3px;
margin-right:3px;
font-size: 13px;
  line-height: 54px;
}

.footer-foot {
border-top: 1px solid grey;
  font-size: 13px;
  line-height: 54px;
}

.footer-links {
margin-left:311px;
}

.companys {
  text-align: center;
  padding-bottom: 40px;
  font-size: 13px;
  font-weight: bold;
  color: #0066a1;
  margin-top: 20px;
}