  <div class="col-md-8 col-md-push-4 col-sm-8 col-sm-push-4">
              <div class="ticker blue">
                <div class="viewport">  
                        <span>Latest News</span>
                        
                    <div ng-repeat="notification in notifications" class="boxtext"><div><a href="https://cloudcanopyatospov.service-now.com/nav_to.do?uri=kb_view.do?sys_kb_id={{notification.sys_id}}" target="_new">{{ notification.short_description }}</a></div></div>

                </div>
            </div>
    <h1>{{displayDate | date:'EEEE dd MMMM yyyy'}}</h1>
    <div gridster="gridsterOpts" class='gridsterOpts'>
        <li gridster-item="obj" ng-repeat="obj in applications" ng-style="{'background-color': '{{getColour(obj)}}'}" class="tile">
            <a href="{{obj.url}}" target="{{obj.name}}">
                <img src="{{obj.img}}" class="img-responsive" />
                <div class="appname">{{obj.name}}</div>
                <appdesc>
                    <p>{{obj.description}}</p>
                </appdesc>
            </a>
        </li>
    </div>
    
</div>
<div class="col-md-4 col-md-pull-8 col-sm-4 col-sm-pull-8">
    <div class="header">
        <img src="img/DigitalTulipHeader.jpg" alt="workspace" class="img-responsive" />
    </div>
    <br/>
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Business and industry react to the General Election result</h4>
            <p class="list-group-item-text">Business has reacted positively to the Conservative election victory as it provides continuity and stability</p>
        </a>
        <br/>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">New structures 'tougher than Kevlar</h4>
            <p class="list-group-item-text">Researchers have created new structures that stretch to up to seven times their length and remain stronger than Kevlar.</p>
        </a>
        <br/>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Funding boost for Royal Navy's Successor programme</h4>
            <p class="list-group-item-text">Britain’s most advanced military submarine programme has received £285m in investment.</p>
        </a>
        <br/>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Lockheed laser blasts truck from over a mile away</h4>
            <p class="list-group-item-text">Lockheed Martin has deployed a 30kW fibre laser weapon to disable the engine of a truck.</p>
        </a>
        <br/>
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">BAE Systems and MoD sign £859m Type 26 contract</h4>
            <p class="list-group-item-text">BAE Systems has signed a contract worth £859m with the Ministry of Defence to continue with the progression of the Type 26 Global Combat Ship.</p>
        </a>
    </div>
</div>
