<!doctype html>
<html lang="en">

<head >

    <meta charset="UTF-8">
    <base href="/">
   
    <title > Canopy </title>
    <!-- CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/base.css">
    <link rel="stylesheet" href="style/ticker.css">
    <!-- custom styles -->
    <!-- JS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <!-- ANGULAR CUSTOM -->
    <script src="js/controllers/DefaultCtrl.js"></script>
    <script src="js/controllers/MainCtrl.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="js/services/application.js"></script>
    <script src="js/services/default.js"></script>
    <script src="js/services/notification.js"></script>
    <script src="js/appRoutes.js"></script>
    <script src="js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" href="lib/angular-gridster/angular-gridster.min.css" />

    <script src="lib/javascript-detect-element-resize/detect-element-resize.js"></script>
    <script src="lib/angular-gridster/angular-gridster.js"></script>

    <link rel="icon" type="image/ico" href="http://canopy-cloud.com/sites/default/files/favicon.ico"/>
    
</head>

<body ng-app="XaaP" ng-controller="DefaultController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div stlye="" class="navbar-header">
                <a class="navbar-brand" href="#" alt="Canopy"><img src="http://canopy-cloud.com/sites/all/themes/canopytheme/images/logo.png" alt="Canopy"/></a>
            </div>
            <div class="navbar-right">
                <div>
                    <span class="trigger" ng-mouseenter="show=true" ng-mouseleave="show=false">
                        <img src= '<%=user.image%>' style="width: 59px; height: 59px;"/>
                    </span>
                </div>
                <div class="profile" ng-show="show" ng-mouseenter="show=true" ng-mouseleave="show=false">
                    <div class="photo">
                        <img src= '<%=user.image%>' style="width: 59px; height: 59px;"/>
                    </div>
                    <div class="detail">
                        <h4><%=user.displayName%></h4>
                        <p><%=user.email%></p>
                    </div>
                    <ul class="menu">
                        <li class="divider"></li>
                        <li class="item" ng-click="logout()"><p>Sign Out</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid navbar-bottom">&nbsp;</div>
    <div class="container-fluid content">
        <div ng-view></div>
       </div> 

     
  <footer class="footer-wrapper">
      <div class="logos-partenaires">
        <p>We are proud to be <strong>platinum</strong> partners</p>
        <img src="sites/all/themes/canopytheme/images/partner4.png"/>
        <img src="sites/all/themes/canopytheme/images/partner3.png"/>
        <img src="sites/all/themes/canopytheme/images/partner2.png"/>
        <img src="sites/all/themes/canopytheme/images/partner1.png"/>
      </div>
      <div class="footer-sitemap">
        <div class="inner-margins">
          <div class="footer-menu clearfix">
            <ul class="menu"><li class="first expanded we-are mid-249"><span class="nolink">we are</span><ul class="menu"><li class="first leaf about-canopy mid-297"><a href="/about-canopy">About Canopy</a></li>
    <li class="leaf leadership-team mid-296"><a href="/leadership-team">Leadership team</a></li>
    <li class="leaf parent-investors mid-298"><a href="/parent-investors">Parent investors</a></li>
    <li class="leaf careers mid-496"><a href="/careers">Careers</a></li>
    <li class="last leaf contact-us mid-437"><a href="/contact-us">Contact us</a></li>
    </ul></li>
    <li class="expanded we-do mid-251"><span class="nolink">we do</span><ul class="menu"><li class="first leaf consulting mid-497"><a href="/consulting">Consulting</a></li>
    <li class="leaf infrastructure mid-471"><a href="/infrastructure">Infrastructure</a></li>
    <li class="leaf platform mid-473"><a href="/platform">Platform</a></li>
    <li class="last leaf software mid-495"><a href="/software">Software</a></li>
    </ul></li>
    <li class="expanded we-live mid-252"><span class="nolink">we live</span><ul class="menu"><li class="first leaf news mid-353"><a href="/news">News</a></li>
    <li class="leaf events mid-465"><a href="/events">Events</a></li>
    <li class="last leaf press-room mid-523"><a href="/press-room">Press Room</a></li>
    </ul></li>
    <li class="last expanded ressources mid-467"><span class="ressources nolink">ressources</span><ul class="menu"><li class="first leaf whitepapers mid-469"><a href="/whitepapers">Whitepapers</a></li>
    <li class="leaf videos mid-509"><a href="/videos">Videos</a></li>
    <li class="last leaf infographics mid-470"><a href="/infographics">Infographics</a></li>
    </ul></li>
    </ul>      </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="inner-margins">
          <div class="content-wrapper">
            <div class="footer-social">
              <ul>
                <li><a class="facebook" href="https://www.facebook.com/Canopy?fref=ts" target="_blank"><span class="element-invisible">Facebook</span></a></li>
                <li><a class="twitter" href="https://twitter.com/CanopyCloud" target="_blank"><span class="element-invisible">Twitter</span></a></li>
                <li><a class="linkedin" href="https://www.linkedin.com/company/canopy-cloud" target="_blank"><span class="element-invisible">Linkedin</span></a></li>
                <li><a class="youtube" href="https://www.youtube.com/user/canopycloud" target="_blank"><span class="element-invisible">Youtube</span></a></li>
              </ul>
            </div>
            <div class="footer-links">&copy; Canopy 2015 &nbsp;&nbsp;&nbsp; <a href="/privacy-policy">Privacy Policy</a> &nbsp;&nbsp;&nbsp; <a href="/terms-conditions">Terms & Conditions</a> &nbsp;&nbsp;&nbsp; <a href="/cookie-policy">Cookie Policy</a></div>
          </div>
        </div>
      </div>
</footer>
</body>

</html>
